@import url('./root.css');

:root {
    --drum-pad-color: #4b4b4b;
    --drum-pad-hover: #696969;
    --drum-pad-active: #2c2c2c;
}

.drum-pad-div {
    width: 75px;
    height: 75px;
    border: 3px solid yellow;
}

button {
    width: 100%;
    height: 100%;
    background-color: var(--drum-pad-color);
    border: transparent;
    color: white;
    font-size: 38px;
}

button:hover {
    background-color: var(--drum-pad-hover);
}

button:active {
    background-color: var(--drum-pad-active);
}

.active {
    background-color: var(--drum-pad-active);
}